/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=News+Cycle&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat+Subrayada:wght@700&family=Quicksand:wght@500&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");


html{
  font-size: 62.5%;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

#root{
  height: 100%;
}

body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  background-color: rgb(248, 248, 248);
}

.content-display {
  min-height: 58rem;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: rgb(14, 13, 13);
}

body::-webkit-scrollbar-thumb {
  background:  rgb(190, 190, 190);
}

.header{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: rgb(12, 12, 12);
  align-content: center;
  padding: 1rem;
  max-height: 4rem;
}

.header-buttons a {
  border-radius: 4px;
  padding: 12px;
  background-color: rgb(37, 37, 37);
  float: right;
  max-height: 5rem;
  margin-bottom: 0.8rem;
  color: oldlace;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-right: 0.5rem;
}

.header-buttons a:hover{
  color:rgb(250, 232, 232);
  background-color: rgb(65, 63, 63);
}

.main-logo{
  display: flex;
  align-content: center;
}

.main-logo a{
  color: rgb(252, 251, 250);
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.if-logo {
  margin-top: 0.5rem;
}

.main-logo button{
  margin-right: 1rem;
  font-size: 2.2rem;
  padding: .5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


.sidebar-menu{
  position: absolute;
  transition: all 0.6s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: rgb(44, 43, 43);
  height: 90%;
  text-decoration: none;
  outline-style: none;
}

.sidebar-name{
  font-size: 3rem;
  color: rgb(219, 219, 219);
  font-weight: bold;
  letter-spacing: 0.3ch;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.sidebar-menu.open{
  transition: all 200ms ease;
  transform: translateX(0);
  text-decoration: none;
  outline-style: none;
}

.sidebar-close{
  text-decoration: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  padding-top: 0;
  color: white;
  background-color: rgb(112, 112, 112);
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: .5rem
}

.sidebar-close:hover{
  background-color: darkred;
}

.sidebar-close:focus{
  outline-style: none;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-burger{
  outline-style: none;
}

.sidebar-button{
  cursor: pointer;
  width: 30rem;
  background-color: black;
  max-height: 6rem;
  justify-content: center;
  align-items: center;
  min-height: 6rem;
  color: rgb(250, 246, 246);
  font-family: 'Michroma', sans-serif;  
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  outline-style: none;
}

.sidebar-button img{
  max-height: 5rem;
  max-width: 7rem;
  padding-bottom: 2rem;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.sidebar-button:hover{
  background-color: rgb(24, 24, 24);
}

.sidebar-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: lightgrey;
  text-decoration: none;
}


.dropdown {
  float: left;
  overflow: hidden;
  margin-right: 0.5rem;
  min-height: 2rem;
}

.dropdown .dropdown-button {
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: oldlace;
  font-weight: bold;
  font-size: 1.5rem; 
  line-height: 25px;
  border-radius: 4px;
  padding: 9px;
  background-color: rgb(37, 37, 37);
  min-width: 12rem;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  max-width: 8rem;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 8px 8px;
  width: 10.4rem;
  margin-bottom: 0;
  text-decoration: none;
  background-color: rgb(48, 48, 48);
  display: block;
  min-width: 10.4rem;
  text-align: center;
  border: 0.1rem black solid;
}

.dropdown-content a:hover {
  background-color: rgb(65, 63, 63);
  width: 8rem;
}

.dropdown-button:hover{
  color:rgb(250, 232, 232);
  background-color: rgb(65, 63, 63);
}

.dropdown:hover .dropdown-content {
  display: block;
  width: 10.5rem;
}

.logout-button {
  float: none;
  color: white;
  padding: 8px 8px;
  width: 12.3rem;
  margin-bottom: 0;
  text-decoration: none;
  background-color: rgb(48, 48, 48);
  display: block;
  min-width: 10.4rem;
  border-radius: 0.5rem;
  text-align: center;
  color: oldlace;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: 0.1rem black solid;
  margin-right:2rem;
}

.logout-button:hover {
  color:rgb(250, 232, 232);
  background-color: rgb(65, 63, 63);
}

.main{
  grid-area: main;
}

.search {
  width: 100%;
  max-width: 14rem;
  margin-left: 1rem;
}

.filter{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 50rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

.filter input,
.filter button,
.filter select{
  padding:1rem;
  border-radius: 0.5rem;
  border: .1rem #c0c0c0 solid;
  font-size: 1.6rem;
  list-style-type: none;
  outline: none;
}

.filter button{
  margin-right: 1rem;
}

.filter input:focus{
  border: .1rem rgb(5, 2, 194) solid;
}

.home-brand-name{
  background-color: rgb(165, 163, 163);
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px rgb(102, 101, 101) solid;
}

.home-brand-name img{
  max-width: 10rem;
  height: 5rem;
}
/* Display of all-footwear */
.all-footwear{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 4rem;
}

.all-footwear li{
  list-style-type: none;
  padding: 0;
  flex: 1 1 25rem;
  margin: 1rem;
  height: 32.5rem;
  max-width: 25rem;
}

.footwear{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  width: 100%;
  max-width: 25rem;
  font-family: 'Cairo', sans-serif;
  border: rgb(46, 77, 134) solid 0.5px;
}

.footwear:hover{
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

.shoe-info{
  min-height: 15.4rem;
  margin-bottom: 1rem;
  margin-top:1rem;
  border-top: rgb(201, 199, 199) solid;
  padding: 1rem;
  display: flex;
  color: black;
  flex-direction: column;
  text-decoration: none;
  justify-content: space-between;
  background-color: rgb(159, 167, 175);
}

.shoe-info-detailed{
  margin-top: 1rem;
  min-height:10.5rem;
  display: flex;
  color: black;
  flex-direction: column;
  text-decoration: none;
}

.shoe-name{
  font-size: 2.2rem;
  line-height: 1;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.shoe-brand{
  font-size: 1.5rem;
  line-height: 1.5;
}

.shoe-year{
  font-size: 1.5rem;
  line-height: 1.5;
}

.shoe-price{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.shoe-image{
  margin-left: 2rem;
  max-width: 20rem;
  max-height: 13rem;
}

/* Shoe Reviews */

.form-content-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  border-radius: 0.5rem;
  border: .1rem rgb(196, 195, 195) solid;
  padding: 5rem;
  background-color: rgb(235, 233, 233);
  min-width: 10rem;
  max-width: 100rem;
  width: 100%;
}

.content-margined {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  border-radius: 0.5rem;
  background-color: rgb(235, 233, 233);
  min-width: 10rem;
  max-width: 25rem;
  width: 100%;
}

.review-form{
  border-radius: 0.5rem;
  border: 0.1rem rgb(8, 8, 8) solid;
  padding-right: 4rem;
  width: 20rem;
  list-style-type: none;
  background-color: rgb(226, 226, 226);
  margin-bottom: 4rem;
}

.form-review ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.form-review li{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  min-height: 5rem;
  max-width: 30rem;
}

.review-signin-message{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.form-rating{
  width: 10%;
  border: 1rem red solid;
}

ul.review {
  list-style-type: none;
  padding: 0;
}

.review li {
  margin: 1rem;
  margin-bottom: 2rem;
}

.review li > div{
  margin: 0.5rem;
}

/* Shoe Rating */

.rating span {
  color: rgb(255, 252, 49);
  font-size: 2.3rem;
  margin: 0.1rem;
}

.rating span:last-child{
  color: black;
  font-size: 1.5rem;
}

a > .rating > span:last-child {
  color: darkblue;
}

/* Footer */

.footer{
  padding-top: 3rem;
  grid-area: footer;
  display: flex;
  background-color: rgb(12, 12, 12);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  flex-direction: column;
  white-space: pre-line;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.footer img{
  height: 4rem;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.github-footer{
  max-height: 3rem;
  margin-bottom: 0.7rem;
}

/* Styling for shoe details (when user clicks on a shoe) */

.shoe-container{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 86.5%;
  min-width: 0;
  margin-left: 5%;
}

.shoe-details{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.shoe-detailed-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 60rem;
  width: 100%;
  max-width: 50rem;
  margin-top: 3%;
}

.shoe-detailed-image{
  justify-content: center;
  flex: 1 2 60rem;
  width: 100%;
  min-width: 22.5rem;
  max-width: 64rem;
  max-height: 60rem;
  margin-left: 1%;
  margin-top: 3rem;
}

.shoe-detailed-image img{
  width: 100%;
  min-width: 10rem;
  max-width: 62rem;
  max-height: 62rem;
  display: flex;
  border: grey solid;
  border-radius: 0.5rem;
}

.shoe-detailed-info{
  flex: 1 1 30rem;
  border: .1rem dimgray solid;
  border-radius: 0.5rem;
  display: flex;
  min-width: 10rem;
  min-height: 22rem;
  width: 95%;
  padding: 0.5rem;
  margin: .5rem;
  max-height: 20rem;
}

.shoe-detailed-actions{
  flex: 1 1 30rem;
  border: .1rem grey solid;
  border-radius: .5rem;
  background-color: lightgray;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  min-width: 10rem;
  width: 95%;
  display: flex;
  margin: .5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-height: 20rem;
}

.shoe-detailed-info li, .shoe-detailed-actions li{
  list-style-type: none;
  padding: 0;
  margin: 1rem;
}

.shoe-detailed-back{
  margin-left: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  color: black;
  max-height: 3rem;
  display: flex;
  flex-direction: row;
}
.shoe-detailed-back .img{
  max-height: 0.5rem;
}

.input-box{
  border: .1rem rgb(0, 0, 0) solid;
  background-color: rgb(239, 239, 245);
}

.signreg-submit-button{
  padding: 1rem;
  border: .1rem rgb(6, 11, 59) solid;
  background-color: rgb(223, 223, 236);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border-radius: 0.9rem;
  width: 18rem;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 15px;
}

.signreg-submit-button:hover{
  padding: 1rem;
  border: .1rem rgb(6, 11, 59) solid;
  background-color: rgb(236, 236, 243);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border-radius: 0.9rem;
  width: 18rem;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 15px;
}

.submit-button{
  padding: 1rem;
  border: .1rem rgb(0, 0, 0) solid;
  background-color: rgb(223, 223, 236);
  border-radius: 0.5rem;
  width: 18rem;
  cursor: pointer;
}

.submit-button:hover{
  border: .1rem rgb(44, 44, 44) solid;
}

/* Sign In Components */

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.form-container{
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  width: 32rem;
  align-items: center;
  padding: 2rem;
  border: .1rem #707070 solid;
  border-radius: .5rem;
  list-style-type: none;
  background-color: rgb(243, 243, 243);
}

.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input{
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
}

.about{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text{
  max-width: 40rem;
  margin: 1.5rem;
  border: 0.125rem rgb(18, 18, 54) solid;
  font-family: 'Quicksand', sans-serif;
  padding:3rem;
  background-color: rgb(197, 200, 218);
  border-radius: 25px;
  text-align: center;
}

.profile {
  margin-top: 1.5rem;
  border-radius: 50%;
  float: top;   
  border: .25rem rgb(16, 2, 97) solid;
  max-width: 30rem;
}

.about-tech-img { 
  max-width: 8rem;
  margin: 1rem;
}

.about-link-img { 
  max-width: 6rem;
  margin: 2rem;
}

.about-email-img { 
  max-width: 3rem;
  max-height: 3rem;
}

.about-email-text{
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.about-email{
  padding: 1rem;
  font-family: unset;
  font-weight: bold;
}

/* Shopping  Cart */

.cart-header{
  background-color: rgb(251, 251, 251);
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  border: 0.1rem solid rgb(163, 163, 163);
}

.cart{
  display: flex;
  flex-wrap: wrap;
}

.cart-list{
  flex: 3 1 60rem;
}

.cart-list-container{
  padding: 1rem;
  list-style-type: none;
}

.cart-list-container li{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .1rem #808080 solid;
}

.cart-list-container li:first-child{
  display: flex;
  justify-content: space-between;
  border-top: .1rem #808080 solid;
  padding-top: 1rem;
}

.cart-list-container img{
  max-height: 20rem; 
  max-width: 20rem;
  border: .1rem rgb(117, 117, 117) solid;
  border-radius: 0.5rem;
}

.cart-item{
  display: flex;
  max-width: 50rem;
}

.cart-image{
  flex: 1 1;
  margin-right: 2rem;
}

.continue-shopping{
  flex: 8 1;
  margin-bottom: 1.5rem;
  margin-top: 0.25rem;
  color: rgb(21, 27, 107);
  text-decoration: none;
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.cart-name{
  flex: 8 1;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  color: rgb(21, 27, 107);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
}

.cart-colorway{
  flex: 1 1;
  margin-top: 0.8rem;
}

.cart-price{
  flex: 1 1;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 0.8rem;
}

.cart-action{
  flex: 1 1 20rem;
  background-color: #e0dddd;
  border: .1rem #f0f0f0 solid;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 3rem;
}

.cart-buttons{
  width: 10rem;
  padding-top: 2rem;
}

.cart-delete-button{
  padding: 1rem;
  border: .1rem rgb(238, 7, 7) solid;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 10rem;
  font-size: 15px;
}

.cart-quantity{
  margin-top: 1rem;
  padding: 0.5rem;
  border: .1rem black solid;
  border-radius: .5rem;
  text-align: center;
  font-size: 15px;
}

.cart-delete-button:hover{
  border: .1rem rgb(44, 44, 44) solid;
}

.cart-summary-header{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 1rem;
}

.cart-summary{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
}

.cart-empty-message{
  text-align: center;
  padding-top: 8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 16.5rem;
}

.checkout{
  background-color: rgb(238, 238, 232);
  width: 100%;
  height: 40rem;
  text-align: center;
  align-items: center;
  padding-top: 12rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.checkout-message{
  display: flex;
  flex-direction: column;
  background-color: rgb(186, 190, 216);
  align-items: center;
  font-size: 20px;
  padding: 10rem;
  margin-left: 6rem; margin-right: 6rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(59, 59, 59)
}

.checkout-buttons{
  display: flex;
  flex-direction: row;
}

/* misc */

.cursor-pointer{
  cursor: pointer;
  background-color: rgb(252, 250, 250);
}

.align-center{
  text-align: center;
  width:20rem;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.montserrat-header{
  font-family: 'Montserrat', sans-serif;
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 1rem;
  background-color: rgb(251, 251, 251);
  border: 0.1rem solid rgb(163, 163, 163);
  padding: 1rem;
  width: 34rem;
  text-align: center;
}

.montserrat-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.reset-text-decoration{
  text-decoration: none;
  color: black;
}
/* Select Styling */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: rgb(255, 255, 255);
  background-image: none;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 1.5em;
  line-height: 3;
  background: #b3b3b4;
  overflow: hidden;
  border-radius: .25em;
}

select {
  flex: 1;
  padding: 0 .5em;
  color: rgb(7, 7, 7);
  cursor: pointer;
}

.select::after {
  content: '\25BC';
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #8b8f94;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.select:hover::after {
  color: #1329f3;
}

@media screen and (max-width: 700px) {
  .header {
    max-height: 25rem;
  }

  .header a {
    float: none;
    display: block;
    text-align: center;
  }

  .dropdown {
    float: none;
    display: block;
    text-align: left;
  }

  .header-buttons a{
    float: none;
    text-align: center;
  }

  .main-logo{
    display: flex;
    align-content: center;
    margin-top: 5.5rem;
  }

  .cart-info{
    font-size: 13px;
  }
  .cart-name{
    font-size: 13px;
  }

  .if-logo {
    margin-top: -1rem;
  }
  .shoe-detailed-info{
    min-height: 25rem;
  }
  .cart-list-container img{
    max-height: 10rem; 
    max-width: 10rem;
    border: .1rem rgb(117, 117, 117) solid;
    border-radius: 0.5rem;
    margin-top: 3rem;
  }

}