/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=News+Cycle&family=Raleway&display=swap");

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

#root{
  height: 100%;
}

body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  background-color: rgb(245, 244, 244);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background:  rgb(1, 1, 66);
}

.grid-container{
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 1rem;
}

.main-logo a{
  color: oldlace;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.main-logo button{
  margin-right: 1rem;
  font-size: 2rem;
  padding: .5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar-menu{
  position: fixed;
  transition: all 0.6s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: rgb(44, 43, 43);
  height: 100%;
}

.sidebar-name{
  font-size: 3rem;
  color: rgb(197, 196, 196);
  font-weight: bold;
  letter-spacing: 0.3ch;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.sidebar-menu.open{
  transition: all 200ms ease;
  transform: translateX(0);
}

.sidebar-close{
  text-decoration: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  padding-top: 0;
  color: white;
  background-color: rgb(112, 112, 112);
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: .5rem
}

.sidebar-close:hover{
  background-color: darkred;
}

.sidebar-close:focus{
  outline-style: none;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-button{
  cursor: pointer;
  width: 30rem;
  background-color: black;
  max-height: 6rem;
  justify-content: center;
  align-items: center;
  min-height: 6rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.sidebar-button img{
  max-height: 5rem;
  max-width: 7rem;
  padding-bottom: 2rem;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.sidebar-button:hover{
  background-color: rgb(24, 24, 24);
}

.sidebar-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: lightgrey;
  text-decoration: none;
}

.header-buttons a{
  color: oldlace;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-right:2rem;
}

.header-buttons a:hover{
  color:red;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-right: 1rem;
  min-height: 2rem;
}

.dropdown .dropdown-button {
  font-size: 16px;  
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: oldlace;
  font-weight: bold;
  font-size: 1.5rem;
}

.dropdown-content {
  margin-top: .1rem;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 8rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 12px;
  width: 8rem;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
  width: 8rem;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: 10.5rem;
}

.logout-button {
  width: 10.5rem;
  height: 4rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #ddd;
  color: red;
}

.main{
  grid-area: main;
}

.filter{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 50rem;
  justify-content: space-between;
  align-items: center;
}

.filter input,
.filter button,
.filter select{
  padding:1rem;
  border-radius: 0.5rem;
  border: .1rem #c0c0c0 solid;
  font-size: 1.6rem;
  list-style-type: none;
  outline: none;
}

.filter input:focus{
  border: .1rem rgb(5, 2, 194) solid;
}

/* Display of all-footwear */
.all-footwear{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 4rem;
}

.all-footwear li{
  list-style-type: none;
  padding: 0;
  flex: 1 1 25rem;
  margin: 1rem;
  height: 32.5rem;
  max-width: 25rem;
}

.footwear{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: white;
  width: 100%;
  max-width: 25rem;
  font-family: 'Cairo', sans-serif;
  border: rgb(40, 0, 148) solid 0.5px;
}

.footwear:hover{
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

.shoe-info{
  min-height: 16rem;
  margin-bottom: 1rem;
  margin-top:1rem;
  border-top: rgb(201, 199, 199) solid;
  padding: 1rem;
  display: flex;
  color: black;
  flex-direction: column;
  text-decoration: none;
  justify-content: space-between;
  background-color: rgb(180, 180, 206);
}

.shoe-info-detailed{
  padding: 0rem;
  min-height:10.5rem;
  display: flex;
  color: black;
  flex-direction: column;
  text-decoration: none;
  justify-content: space-between;
}

.shoe-name{
  font-size: 2.3rem;
  line-height: 1;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.shoe-brand{
  font-size: 1.5rem;
  line-height: 1.2;
}

.shoe-year{
  font-size: 1.5rem;
}

.shoe-price{
  font-size: 1.5rem;
  font-weight: bold;
}

.shoe-image{
  margin-left: 2rem;
  max-width: 20rem;
  max-height: 13rem;
}

/* Shoe Reviews */

.form-content-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  border-radius: 0.5rem;
  border: .1rem rgb(196, 195, 195) solid;
  padding: 5rem;
  background-color: rgb(235, 233, 233);
  min-width: 10rem;
  max-width: 100rem;
  width: 100%;
  margin-left: 1rem;
}

.content-margined {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  border-radius: 0.5rem;
  background-color: rgb(235, 233, 233);
  min-width: 10rem;
  max-width: 20rem;
  width: 100%;
}

.review-form{
  border-radius: 0.5rem;
  border: 0.1rem rgb(8, 8, 8) solid;
  padding-right: 4rem;
  width: 20rem;
  list-style-type: none;
  background-color: rgb(226, 226, 226);
}

.form-review ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.form-review li{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  min-height: 5rem;
  max-width: 30rem;
}

.review-signin-message{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.form-rating{
  width: 10%;
  border: 1rem red solid;
}

ul.review {
  list-style-type: none;
  padding: 0;
}

.review li {
  margin: 1rem;
  margin-bottom: 2rem;
}

.review li > div{
  margin: 0.5rem;
}

/* Shoe Rating */

.rating span {
  color: rgb(255, 252, 49);
  font-size: 2.3rem;
  margin: 0.1rem;
}

.rating span:last-child{
  color: black;
  font-size: 1.5rem;
}

a > .rating > span:last-child {
  color: darkblue;
}

/* Footer */

.footer{
  padding: 5rem;
  grid-area: footer;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  white-space: pre-line;
}

/* Styling for shoe details (when user clicks on a shoe) */

.shoe-container{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 86.5%;
  min-width: 0;
  margin-left: 5%;
}

.shoe-details{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.shoe-detailed-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 60rem;
  width: 100%;
  max-width: 50rem;
}

.shoe-detailed-image{
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 2 60rem;
  width: 100%;
  min-width: 22.5rem;
  max-width: 70rem;
  max-height: 70rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.shoe-detailed-image img{
  width: 100%;
  min-width: 10rem;
  max-width: 62rem;
  max-height: 62rem;
  display: flex;
  border: grey solid;
}

.shoe-detailed-info{
  flex: 1 1 30rem;
  border: .1rem dimgray solid;
  border-radius: 0.5rem;
  display: flex;
  min-width: 10rem;
  min-height: 30rem;
  width: 95%;
  padding: 1rem;
  margin: .5rem;
  max-height: 20rem;
}

.shoe-detailed-actions{
  flex: 1 1 30rem;
  border: .1rem grey solid;
  border-radius: .5rem;
  background-color: lightgray;
  padding: 1rem;
  min-width: 10rem;
  width: 95%;
  display: flex;
  margin: .5rem;
  max-height: 15rem;
}

.shoe-detailed-info li, .shoe-detailed-actions li{
  list-style-type: none;
  padding: 0;
  margin: 1rem;
}

.shoe-detailed-back{
  margin-left: 1rem;
  margin-top: 1rem;
}
.shoe-detailed-back .img{
  max-height: 0.5rem;
}

.shoe-purchase-button{
  padding: 1rem;
  border: .1rem dimgray solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

.shoe-purchase-button:hover{
  border: .1rem rgb(44, 44, 44) solid;
}

/* Sign In Components */

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.form-container{
  display: flex;
  flex-direction: column;
  width: 32rem;
  align-items: center;
  padding: 2rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  list-style-type: none;
}

.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input{
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
}

.about{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text{
  max-width: 40rem;
  margin: 1.5rem;
  border: rgb(1, 1, 65) solid;
  padding:3rem;
  background-color: rgb(176, 180, 202);
  border-radius: 25px;
  text-align: center;
}

.profile {
  border-radius: 50%;
  float: top;   
  border: black solid;
  max-width: 30rem;
}

.about-tech-img { 
  max-width: 8rem;
  margin: 1rem;
}

.about-link-img { 
  max-width: 6rem;
  margin: 2rem;
}

.about-email-img { 
  max-width: 3rem;
  max-height: 3rem;
}

.about-email-text{
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-email{
  margin-bottom: 2rem;
  padding:1rem;
  font-family: unset;
  font-weight: bold;
}

/* misc */

.cursor-pointer{
  cursor: pointer;
}