<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <title>Imperial Footwear</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="main-logo">
                    <a href="index.html">Imperial Footwear</a>
                </div>
                <div class="header-buttons">
                    <a href="creataccount.html">Create Account</a>
                    <a href="signin.html">Sign In</a>
                    <a href="shoppingcart.html">Shopping Cart</a>
                </div>
            </header>
            <aside>
            </aside>
            <main class="main">
                <div class="content-display">
                    <ul class="all-footwear">
                        <li> 
                            <div class="footwear">
                                <img class="shoe-image" src="../templates/images/jordan1.jpg" alt="bloodline">
                                <div class="shoe-name">
                                    <a href="shoe.html">Jordan 1 Bloodline</a>
                                </div>
                                <div class="shoe-brand">Jordan</div>
                                <div class="shoe-year">2019</div>
                                <div class="shoe-price">$300</div>
                                <div class="shoe-rating">10 stars</div>
                            </div>
                        </li>
                        <li> 
                            <div class="footwear">
                                <img class="shoe-image" src="../templates/images/jordan1.jpg" alt="bloodline">
                                <div class="shoe-name">
                                    <a href="shoe.html">Jordan 1 Bloodline</a>
                                </div>
                                <div class="shoe-brand">Jordan</div>
                                <div class="shoe-year">2019</div>
                                <div class="shoe-price">$300</div>
                                <div class="shoe-rating">10 stars</div>
                            </div>
                        </li>
                        <li> 
                            <div class="footwear">
                                <img class="shoe-image" src="../templates/images/jordan1.jpg" alt="bloodline">
                                <div class="shoe-name">
                                    <a href="shoe.html">Jordan 1 Bloodline</a>
                                </div>
                                <div class="shoe-brand">Jordan</div>
                                <div class="shoe-year">2019</div>
                                <div class="shoe-price">$300</div>
                                <div class="shoe-rating">10 stars</div>
                            </div>
                        </li>
                        <li> 
                            <div class="footwear">
                                <img class="shoe-image" src="../templates/images/jordan1.jpg" alt="bloodline">
                                <div class="shoe-name">
                                    <a href="shoe.html">Jordan 1 Bloodline</a>
                                </div>
                                <div class="shoe-brand">Jordan</div>
                                <div class="shoe-year">2019</div>
                                <div class="shoe-price">$300</div>
                                <div class="shoe-rating">10 stars</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
            <footer class="footer">
                @hugonzb
            </footer>
        </div>
    </body>
</html>