html{
    font-size: 62.5%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

a:hover{
    color: red;
}

body{
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 1, 66);
    align-items: center;
    padding: 0.5rem;
}

.main{
    grid-area: main;
}

/* Display of all-footwear */
.all-footwear{
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-footwear li{
    list-style-type: none;
    padding: 0;
    flex: 0 1 34rem;
    margin: 1rem;
    height: 32.5rem;
    border-bottom: .1rem #c0c0c0 solid;
}

.footwear{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.shoe-name{
    font-size: 3rem;
    font-weight: bold;
}

.shoe-brand{
    font-size: 2rem;
}

.shoe-year{
    font-size: 2rem;
}

.shoe-price{
    font-size: 2rem;
    font-weight: bold;
}

.shoe-image{
    max-width: 24rem;
    max-height: 24rem;
}

.shoe-rating{
    margin-bottom: 1rem;
}

.footer{
    grid-area: footer;
    display: flex;
    background-color: rgb(1, 1, 66);
    justify-content: center;
    align-items: center;
    color: white;
}

.main-logo a{
    color: oldlace;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
}

.header-buttons a{
    color: oldlace;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.header-buttons a:hover{
    color:red;
}